body{
    text-align: center;
}

#out{
    text-align: right;
    font-size: 15px;
}

#text, #unit{
    display: inline;
}
#button{
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 5px;
}